[Desktop Entry]
Name=CuteCut Pro
Exec=AppRun --no-sandbox %U
Terminal=false
Type=Application
Icon=cutecut-pro
StartupWMClass=CuteCut Pro
X-AppImage-Version=2.3.9
Comment=CuteCut Pro is a powerful desktop video editing application featuring multi-track timeline management, real-time audio visualization, and precise Quranic audio-to-text synchronization.
Categories=AudioVideo;
