[Desktop Entry]
Name=CuteCut Pro
Exec=cutecut-pro %U
Terminal=false
Type=Application
Icon=${SNAP}/meta/gui/icon.png
StartupWMClass=CuteCut Pro
Comment=CuteCut Pro is a powerful desktop video editing application featuring multi-track timeline management, real-time audio visualization, and precise Quranic audio-to-text synchronization.
Categories=AudioVideo;
