[Desktop Entry]
Name=CuteCut Pro
Comment=CuteCut Pro Professional Video Editor Suite
Exec=cutecut-pro %U
Icon=${SNAP}/meta/gui/icon.png
Terminal=false
Type=Application
Categories=AudioVideo;Video;AudioVideoEditing;
Keywords=video;editor;cutecut;quran;subtitles;
StartupWMClass=cutecut-pro
